# IDE
.idea
.vscode

# Environment variables
.env

# Test
jest_cache/
coverage/

# Node
node_modules
lerna-debug.log
.eslintcache
.nx/cache

# Log files
*.log*

# Storybook
.storybook-static-build

# builds
dist
build

# Mac
.DS_Store

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

