name: Bygg og deploy
on:
  workflow_dispatch:
  push:
    branches:
      - '**'
    paths-ignore:
      - '**.md'
      - '**.MD'
      - '.gitignore'
      - '.editorconfig'
      - 'LICENCE'
      - 'CODEOWNERS'

defaults:
  run:
    working-directory: server

jobs:
  build-app:
    name: Build
    permissions:
      packages: write
      id-token: write
    runs-on: "ubuntu-latest"
    env:
      TZ: "Europe/Oslo"
    outputs:
      build-version: ${{ steps.generate-build-version.outputs.build-version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # ratchet:actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up NODE
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # ratchet:actions/setup-node@v3
        with:
          node-version: ${{ inputs.node-version }}
          registry-url: https://npm.pkg.github.com/
          scope: '@navikt'
          cache: "npm"
      - name: clean install
        if: inputs.clean-install
        run: npm ci
      - run: npm install --legacy-peer-deps
      - run: npm run jest
      - run: npm run build
      - name: Generate build version
        id: generate-build-version
        run: echo "build-version=$(date +%Y.%m.%d.%H%M%S)-$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_OUTPUT
      - name: Print build version
        run: echo "Generated build-version is ${{ steps.generate-build-version.outputs.build-version }}"
      - name: Bygg og push docker image
        if: inputs.build-image
        uses: navikt/fp-gha-workflows/.github/actions/build-push-docker-image@main # ratchet:exclude
        with:
          build-version: ${{ steps.generate-build-version.outputs.build-version }}
          push-image: ${{ inputs.push-image }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}

  deploy-dev:
    name: Deploy dev
    permissions:
      id-token: write
    if: github.ref_name == 'master'
    needs: build-app
    uses: navikt/fp-gha-workflows/.github/workflows/deploy.yml@main
    with:
      gar: true
      image: ${{ needs.build-app.outputs.build-version }}
      cluster: dev-gcp
    secrets: inherit

#  deploy-prod:
#    name: Deploy prod
#    permissions:
#      id-token: write
#    if: github.ref_name == 'master'
#    needs: [build-app, deploy-dev]
#    uses: navikt/fp-gha-workflows/.github/workflows/deploy.yml@main
#    with:
#      gar: true
#      image: ${{ needs.build-app.outputs.build-version }}
#      cluster: prod-gcp
#    secrets: inherit
