name: Bygg og deploy
on:
  workflow_dispatch:
  push:
    branches:
      - 'master'
    paths-ignore:
      - '**.md'
      - '**.MD'
      - '.gitignore'
      - '.editorconfig'
      - 'LICENCE'
      - 'CODEOWNERS'

jobs:
  build-fp-app:
    name: Build
    permissions:
      contents: read
      packages: write
      id-token: write
    runs-on: "ubuntu-latest"
    env:
      TZ: "Europe/Oslo"
    outputs:
      build-version-fp: ${{ steps.generate-build-version-fp.outputs.build-version }}
      build-version-k9: ${{ steps.generate-build-version-k9.outputs.build-version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # ratchet:actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up NODE
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # ratchet:actions/setup-node@v3
        with:
          node-version: "20"
          registry-url: https://npm.pkg.github.com/
          scope: '@navikt'

      - name: Install server dependencies
        run: npm install
        working-directory: server
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}

      - name: Build server
        run: npm run build
        working-directory: server

      - name: Install webapp dependencies
        working-directory: app
        run: npm install
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}

      - name: Build webapp [FP]
        working-directory: app
        run: npm run build:fp

      - name: Copy FP webapp into public directory of server
        working-directory: app
        run: cp -r dist/ ../server/public

      - name: Generate build version
        id: generate-build-version-fp
        run: echo "build-version=$(date +%Y.%m.%d.%H%M%S)-$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_OUTPUT
      - name: Print build version
        run: echo "Generated build-version-fp is ${{ steps.generate-build-version-fp.outputs.build-version }}"
      - name: Bygg og push docker image teamforeldrepenger
        uses: navikt/fp-gha-workflows/.github/actions/build-push-docker-image@main # ratchet:exclude
        with:
          docker_context: "./server"
          dockerfile: "./server/Dockerfile"
          build-version: ${{ steps.generate-build-version-fp.outputs.build-version }}
          push-image: true
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          namespace: teamforeldrepenger

      - name: Build webapp [K9]
        working-directory: app
        run: npm run build:k9

      - name: Clear the existing public directory
        working-directory: server
        run: rm -rf public/*

      - name: Copy K9 webapp public directory of server
        working-directory: app
        run: cp -r dist/ ../server/public

      - name: Generate build version
        id: generate-build-version-k9
        run: echo "build-version=$(date +%Y.%m.%d.%H%M%S)-$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_OUTPUT
      - name: Print build version
        run: echo "Generated build-version-k9 is ${{ steps.generate-build-version-k9.outputs.build-version }}"
      - name: Bygg og push docker image k9saksbehandling
        uses: navikt/fp-gha-workflows/.github/actions/build-push-docker-image@main # ratchet:exclude
        with:
          docker_context: "./server"
          dockerfile: "./server/Dockerfile"
          build-version: ${{ steps.generate-build-version-k9.outputs.build-version }}
          push-image: true
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          namespace: k9saksbehandling

  deploy-dev-teamforeldrepenger:
    name: Deploy dev teamforeldrepenger
    permissions:
      id-token: write
    needs: build-app
    uses: navikt/fp-gha-workflows/.github/workflows/deploy.yml@main
    with:
      gar: true
      image: ${{ needs.build-app.outputs.build-version }}
      cluster: dev-gcp
      namespace: teamforeldrepenger
      naiserator_file: "fp/naiserator.yaml"
    secrets: inherit

  deploy-dev-k9saksbehandling:
    name: Deploy dev k9saksbehandling
    permissions:
      id-token: write
    needs: build-app
    uses: navikt/fp-gha-workflows/.github/workflows/deploy.yml@main
    with:
      gar: true
      image: ${{ needs.build-app.outputs.build-version }}
      cluster: dev-gcp
      naiserator_file: "k9/naiserator.yaml"
      namespace: k9saksbehandling
    secrets: inherit


#  deploy-prod:
#    name: Deploy prod
#    permissions:
#      id-token: write
#    if: github.ref_name == 'master'
#    needs: [build-app, deploy-dev]
#    uses: navikt/fp-gha-workflows/.github/workflows/deploy.yml@main
#    with:
#      gar: true
#      image: ${{ needs.build-app.outputs.build-version }}
#      cluster: prod-gcp
#    secrets: inherit
