name: "verify"

on:
  pull_request:
    branches:
      - '**'
    paths:
      - 'app/**'
      - '.github/workflows/verify.yml'

defaults:
  run:
    working-directory: app

jobs:
  verify:
    name: Verify there are no lint or typescript errors
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: app
      - name: Install dependencies
        run: npm ci

      - name: Run ESLint
        run: npm run lint

      - name: Run stylelint
        run: npm run stylelint

      - name: Check for typescript errors
        run: npm run check-types
