name: "verify: app"

on:
  pull_request:
    branches:
      - "**"
    paths:
      - "app/**"
      - ".github/workflows/verify-app.yml"

defaults:
  run:
    working-directory: app

jobs:
  test:
    name: Run end to end tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"
          registry-url: https://npm.pkg.github.com/
          scope: "@navikt"
          cache-dependency-path: app
      - name: Install dependencies
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        run: npx playwright test
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
  verify:
    name: Verify there are no lint or typescript errors
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"
          registry-url: https://npm.pkg.github.com/
          scope: "@navikt"
          cache-dependency-path: app
      - name: Install dependencies
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}

      - name: Run ESLint
        run: npm run lint

      - name: Run stylelint
        run: npm run stylelint

      - name: Check for typescript errors
        run: npm run check:types
